{% if page.layout == "home-infographic" and site.data.theme.featured-image %}
<style>
#home-banner {
    background-image: url('{{ site.data.featured_item.src | relative_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
    display: flex;  
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #home-banner {
        background-size: 100% auto; 
        min-height: 60vh;
    }
}


#home-title-box {
    padding-top: {{ site.data.theme.home-title-y-padding | default: '5em' }};
    padding-bottom: {{ site.data.theme.home-title-y-padding | default: '5em' }};
    width:100%;
}

#home-banner-logo { 
    height: 40px; 
}
@media screen and (max-width: 576px) {
    #home-title-box {
        max-height:500px;
    }
}
.liblogo-corner {
    border-bottom-left-radius: .25rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.liblogo-corner img{ height: 6.7em; }
</style>
<div id="home-banner" class="container-fluid mb-0 p-0">
    <a class="d-none d-md-block liblogo-corner p-3" href="https://www.swarthmore.edu/peace-collection/" title="Swarthmore College Peace Collection" target="_blank" rel="noopener">
        <img alt="Swarthmore College Peace Collection" src="{{'/assets/img/icon.png' | relative_url }}">
    </a>
    
    <div id="home-title-box">
        <div class="p-3 text-center text-white bg-dark bg-opacity-75">
            <h1 class="display-4">{{ site.title }}</h1>
            {% if site.tagline %}<p class="mb-0">{{ site.tagline }}</p>{% endif %}
        </div>
        {% unless site.data.theme.featured-image contains '/' %}
        <div class="position-absolute bottom-0 end-0 px-2 bg-dark bg-opacity-75">
            <a class="text-white fs-6" href="{{ site.data.featured_item.link | relative_url }}" title="{{ site.data.featured_item.alt | escape }}">Featured Image</a>
        </div>{% endunless %}
    </div>
</div>
{% if site.data.theme.content-alert == true %}{% include index/content-alert.html %}{% endif %}
{%- else -%}
<div class="container-fluid px-0 position-relative" style="height: 200px;">
    <img src="{{ site.data.featured_item.src | relative_url }}" class="w-100" style="height: 200px; object-fit: cover; object-position: center;" alt="Responsive image">
    <div class="position-absolute top-50 start-0 translate-middle-y px-4 py-2 bg-white bg-opacity-75">
        <h1 class="text-dark mb-0">{{ site.title }}</h1>
        {% if site.tagline %}<p class="text-dark mb-0">{{ site.tagline }}</p>{% endif %}
    </div>
</div>
{%- endif -%}