<!-- Bootstrap bundle JS -->
<script
  src="{{site.baseurl}}/assets/js/bootstrap.bundle.min.js" defer
></script>
<!-- load other js -->
<script
  src="{{site.baseurl}}/assets/js/lazysizes.min.js" defer
></script>
<script
  src="{{site.baseurl}}/assets/js/openseadragon.min.js" defer
></script>
{% if layout.gallery == true or page.gallery == true %}<script src="{{site.baseurl}}/assets/js/spotlight.bundle.js" defer></script>{% endif %}
{% if page.custom-foot or layout.custom-foot %}
{%- assign page_feet = page.custom-foot | split: ";" -%}
{%- assign layout_feet = layout.custom-foot | split: ";" -%}
{%- assign feet = page_feet | concat: layout_feet -%}
{% for f in feet %}{% include {{ f }} %}
{% endfor %}
{%- endif -%}
