<div class="alert alert-warning alert-dismissible fade show mb-0 rounded-0 text-center" role="alert">
    <div class="h5"><strong>Please note:</strong> Materials in this collection may contain images, language, or other content that may be offensive or disturbing.</div>
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#contentWarningModal">More Information</button>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- content warning Modal -->
<div class="modal fade" id="contentWarningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h4" id="warningModalLabel">Offensive Content Notice</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Add disclaimer here.</p>
            </div>
        </div>
    </div>
</div>